body{<style>
       p {
      color: #ffffff;
      font-family: Arial, sans-serif;
    }
    h1 {
      color: #610e0e;
      font-family: Comic Sans MS, cursive;
    }
    header  {
      background-color: #000000;
      text-align: center;
    }
    header h1 {
        color: #ffffff;
    }
    body {
      background-color: rgb(255, 255, 255);
      margin: 0;
    }
     .card {
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 14px 16px;
    margin-bottom: 12px;
}
    }
    selection h3 {
      color: #000000;
      font-family: 'courier new',Courier,monospace;
      font-size: 2px;
    }
    selection p {
      color: #e21212;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
    main{
        width: 400px;
        margin: 0 auto;
        padding: 20px 16px;
    }
    main h2{
        color: #000000;
        font-family: 'Courier New',
        Courier, monospace;
        text-align: center;
    }
    footer{
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        padding: 8px;
        font-family: Arial, sans-serif;
}
nav {
        padding: 8px;
        text-align: center;
    }
    nav a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 8px;
        font-family: Arial, sans-serif;
   }

    </style>
  }